body {
    padding-top: 50px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
}

p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

#top-bar {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 50px; 
    position: fixed;
    color: #898e95;
    top:0;
    border-bottom: 2px solid #e1e2e4;
    text-align: center;
    background-color: white;
    z-index: 1000

}

#search-bar {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    width: 100%;
    color: #898e95;
    top:50px;
    border-bottom: 1px solid #F8F8F9;
    background-color: white;
}

#search-bar.container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 100px;
    padding-right: 100px;
    background-color: lightgoldenrodyellow;
}

.btn-secondary {
    background: #fff;
    border-color: #1AAFD0;
    color: #1AAFD0;
    fill: #1AAFD0;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    padding: 10px 5px
}

.btn-secondary.add-to-cert {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    line-height: 20px;

}

.btn-secondary:hover,
.btn-secondary:focus {
    border-color: #fff;
    box-shadow: inset 0 0 transparent,0 0 0 3px #02ceff;
    -moz-box-shadow: inset 0 0 transparent,0 0 0 3px #02ceff;
    -webkit-box-shadow: inset 0 0 transparent,0 0 0 3px #02ceff;
    color: #02ceff;
    fill: #02ceff;
    background: #fff;
}

.btn-secondary:active {
    background: #F8F8F9;
    border: 1px solid #1AAFD0;
    box-shadow: inset 0 1px rgba(0,0,0,0.1),0 0 0 0 transparent;
    -moz-box-shadow: inset 0 1px rgba(0,0,0,0.1),0 0 0 0 transparent;
    -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.1),0 0 0 0 transparent;
    color: #1AAFD0;
    fill: #1AAFD0;
}

.btn-tertiary {
    background: #fff;
    border-color: #1AAFD0;
    color: #1AAFD0;
    fill: #1AAFD0;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 5px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%
}

.btn-tertiary.active {
    background: #1AAFD0;
    border-color: #1AAFD0;
    color: #fff;
    fill: #1AAFD0;
}

.event-container {
    width: 100%;
    max-width: initial;
    padding-left: 120px;
    padding-right: 120px
}

.event-title {    
    background-color: #f6f6f6;
    padding-top: 5px;
    padding-bottom: 10px
}

.event-title p{
    font-weight: 700;
    color: #282a2b;
    line-height: 36px;
    vertical-align: middle;
    font-size: 17px
}

.event-item:hover,
.event-item:hover .event-name {
    background-color: #528FCC;
    color: white;
    border-radius: 5px
      
}

.event-title .event-title-col,
.event-item .event-item-col {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.event-item.mix {
    display: none
}

.no-padding {
    padding: 0
}

.text-center {
    text-align: center
}

.event-name {
    font-size: 18px;
    color: #039be5;
}

.event-type-color.event-item-col i {
    margin-top: 15px
}

.Competition .event-type-color.event-item-col i,
i.Competition {
    color:#1ab394
}

.Recruitment .event-type-color.event-item-col i,
i.Recruitment {
    color:#f8ac59
}

.Talk .event-type-color.event-item-col i,
i.Talk {
    color:#ed5565 
}

.Workshop .event-type-color.event-item-col i,
i.Workshop {
    color:#1c84c6
}

.datepicker-custom {
    background-color: #fff;
    border: solid 2px #528FCC;
    border-radius: 5px
}

#bottom-bar {
    background-color: lightblue;
    color: gray;
    width: 100%;
    font-weight: 600;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px
}

@media screen and (max-width: 767px) {
    .event-container {
        padding-left: 0;
        padding-right: 0
    }
    #search-bar.container {
        padding-left: 15px;
        padding-right: 15px
    }
    .datepicker-custom {
        padding: 10px
    }
}



/*=============================================================================*/

#my-event .controls {
    height: 40px;
}

#my-event .controls .pull-left,
#my-event .controls .pull-right {
    width: 80px
}

#my-event .calendar-head {
    color: #898e95
}

/*=============================================================================*/



/*=================================Overwrite Calendar==========================*/
.responsive-calendar .day a:hover {
    background-color: #eee;
    text-decoration: none;
}

.responsive-calendar .day a {
    color: #000;
    display: block;
    cursor: pointer;
    padding: 20% 0 20% 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 1px 0 #eee;
}

.responsive-calendar .day .badge {
    background-color: #f89406;
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    padding: 2px 5px;
}


/*=============================================================================*/