<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eventually_Demo</title>

    <!-- JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/js/jquery-ui.custom.min.js"></script>  
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/angular.min.js"></script>
    <!--<script src="~/js/tsort.js"></script>-->

    <script src="~/js/jquery.mixitup.js"></script>

    <script src="~/js/site.js"></script>


    <!-- CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">   
    <!--<link href="~/css/tsort.css" rel="stylesheet">-->

    <link href="~/css/site.css" rel="stylesheet">
    
</head>

<body id="page-top">

    <section id="top-bar">
        <span style="font-size: 30px; font-weight: 400; padding-left: 15px">
            Eventually
        </span>
    </section>

    @RenderBody()

</body>
</html>

