@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="search-bar" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4>Search Option</h4>
        </div>
        <div class="col-xs-12">          
            <label style="padding-right: 2em">Sort:</label>
            <span class="btn btn-tertiary sort active" data-sort="date:asc time:asc">Date</span>
            <span class="btn btn-tertiary sort" data-sort="name:asc">Name</span>
        </div>
        <div class="col-xs-12">
            <label style="padding-right: 2em">Filter:</label>
            <span class="btn filter" data-filter="all">All</span>
            <span class="btn filter" data-filter=".Competition">Competition</span>
            <span class="btn filter" data-filter=".RecruitmentTalk">Recruitment Talk</span>
            <span class="btn filter" data-filter=".Talk">Conference</span>
        </div>
    </div>
</section>
<section id="search-content" class="event-container container m-t-2">
    <div ng-app="EventListApp" ng-controller="EventCtrl">
        <div id="Container">
            <div class="event-title col-xs-12">
                <!--<div class="col-xs-1 event-title-col line-h-2">
                    <p>Type</p>
                </div>-->

                <div class="col-xs-1 event-title-col">
                    <p>Date</p>
                </div>
                <div class="col-xs-1 event-title-col">
                    <p>Time</p>
                </div>
                <div class="col-xs-4 event-title-col line-h-2">
                    <p>Title</p>
                </div>
                <div class="col-xs-3 event-title-col line-h-2">
                    <p>Venue</p>
                </div>
                <div class="col-xs-2 event-title-col line-h-2">
                    <p>Application Deadline</p>
                </div>
                <div class="col-xs-1 event-title-col line-h-2">
                    <button class="btn btn-secondary">Select All</button>
                </div>
            </div>
            <div ng-repeat="event in events" class="event-item mix col-xs-12" ng-class="getItem($index, events, 'Nature')" data-date="{{event.StartDate}}" data-time="{{event.StartTime}}" data-name="{{event.Name}}">
                <!--<div class="col-xs-1 event-item-col line-h-2">

                </div>-->
                <div class="col-xs-1 event-item-col">
                    <p>{{ event.StartDate == event.EndDate ? event.StartDate : event.StartDate+' - '+event.EndDate }} </p>
                </div>
                <div class="col-xs-1 event-item-col">
                    <p>{{event.StartTime}} -
                    <br>{{event.EndTime}}</p>
                </div>
                <div class="col-xs-4 event-item-col line-h-2">
                    <p>{{event.Name}}</p>
                </div>
                <div class="col-xs-3 event-item-col line-h-2">
                    <p>{{event.Venue}}</p>
                </div>
                <div class="col-xs-2 event-item-col line-h-2">
                    <p>{{event.Deadline}}</p>
                </div>
                <div class="col-xs-1 event-item-col line-h-2">
                    <button class="btn btn-secondary">Select</button>
                </div>
            </div>
        </div>
    </div>
</section>

