body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
}

p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

#top-bar {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 50px; 
    position: fixed;
    color: #898e95;
    top:0;
    border-bottom: 2px solid #e1e2e4;
    text-align: center;
    background-color: white;
    z-index: 1000
}

#search-bar {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #898e95;
    top:50px;
    border-bottom: 1px solid #F8F8F9;
    background-color: white;
}

.btn-secondary {
    background: #fff;
    border-color: #1AAFD0;
    color: #1AAFD0;
    fill: #1AAFD0;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    padding: 10px 5px
}

.btn-secondary:hover,
.btn-secondary:focus {
    border-color: #fff;
    box-shadow: inset 0 0 transparent,0 0 0 3px #02ceff;
    -moz-box-shadow: inset 0 0 transparent,0 0 0 3px #02ceff;
    -webkit-box-shadow: inset 0 0 transparent,0 0 0 3px #02ceff;
    color: #02ceff;
    fill: #02ceff;
    background: #fff;
}

.btn-secondary:active {
    background: #F8F8F9;
    border: 1px solid #1AAFD0;
    box-shadow: inset 0 1px rgba(0,0,0,0.1),0 0 0 0 transparent;
    -moz-box-shadow: inset 0 1px rgba(0,0,0,0.1),0 0 0 0 transparent;
    -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.1),0 0 0 0 transparent;
    color: #1AAFD0;
    fill: #1AAFD0;
}

.btn-tertiary {
    background: #fff;
    border-color: #1AAFD0;
    color: #1AAFD0;
    fill: #1AAFD0;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    padding: 10px 5px
}

.event-container {
    width: 100%;
    max-width: initial;
    padding-left: 70px;
    padding-right: 70px
}

.event-title {    
    background-color: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 15px
}

.event-title p{
    font-weight: 700;
    color: #282a2b
}

.event-item:hover {
    background-color: #ffd200;
    color: white;
    border-radius: 5px
      
}

.event-title .event-title-col,
.event-item .event-item-col {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.line-h-2 {
    top: 50%
}

.event-item.mix {
    display: none
}